html {
  background-color: black;
}

/* colors */

.black {
  background-color: black;
}

.purple {
  background-color: #4717f6;
}

.beige {
  background-color: #e5e5e5;
}

.violet {
  background-color: #a239ca;
}

/* colors */

* {
  font-family: Comfortaa, sans-serif;
}

.sans-serif {
  font-family: sans-serif;
}

/* log in page */
.rounded-border {
  border-radius: 5px;
}

.h-15 {
  height: 15%;
}

/* log in page */
.width-test {
  width: 25%;
}

/* phone view */
@media screen and (max-width: 391px) {
  .width-test {
    width: 50%;
  }

  .row {
    display: flex;
    flex-direction: column;
  }

  .phone-account {
    width: 300px !important;
    overflow: scroll;
  }

  .p-button {
    width: 350px !important;
  }
}

/* phone view */

/* custom width */
.w-15 {
  width: 15%;
}

.w-33 {
  width: calc(100%/3);
}

.w-180px {
  width: 180px;
}

/* custom width */

/* custom flex */
.row {
  display: flex;
}

/* custom flex */
::placeholder {
  font-size: small;
}

select {
  font-size: small;
}

.m-account {
  border: 2px solid purple;
}
